html,
body {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(218deg, rgba(255, 181, 32, 0.93) 3%, rgba(239, 39, 153, 0.93) 88%, rgba(237, 18, 171, 0.93) 100%);
  background: linear-gradient(-128deg, rgba(255, 181, 32, 0.93) 3%, rgba(239, 39, 153, 0.93) 88%, rgba(237, 18, 171, 0.93) 100%);
}

#support-form-modal {
  position: absolute;
  right: 15px;
  top: -15px;
}
#support-form-modal .form-group-lg {
  margin: 10px 0;
}
#support-form-modal .modal-content {
  padding: 20px;
}
#support-form-modal .required {
  color: red;
}
#support-form-modal .modal-content {
  background: linear-gradient(-128deg, rgba(255, 181, 32, 0.93) 3%, rgba(239, 39, 153, 0.93) 88%, rgba(237, 18, 171, 0.93) 100%);
}
#support-form-modal h1 {
  color: #FFF;
  margin: 0 0 10px;
}
#support-form-modal .well {
  margin-bottom: 0;
  padding: 0 20px;
  background-color: #DDD;
}
#support-form-modal .well h5 {
  margin-top: 0;
}
#support-form-modal label {
  color: #323B43;
}
#support-form-modal form {
  background-color: #eaeff3;
  border-radius: 5px;
  padding: 20px;
}
#support-form-modal button {
  background-color: #1BC0D3;
  width: 100%;
  height: 50px;
  font-size: 25px;
  color: #FFF;
}
#support-form-modal button:hover {
  background-color: #24ce7b;
}
